@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.container {
    width: 1100px;
    margin: auto;
    padding: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header{
    z-index: 999999999;
    transition: 0.25s ease;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
   
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Jost:wght@300&display=swap');
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Acme', sans-serif;
font-family: 'Jost', sans-serif;
    gap: 5px;
}

.logo img{
   
    object-fit: cover;
}


header {
    width: 100%;
    position: fixed;

}

.herosection .container{
    height: 100%;
    padding-bottom: 0;
}
.logo{
    color: #34495e;
    font-family: 'Poppins', sans-serif;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.navactive{
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.04);
    z-index: 99999999999999;
}

.gridbox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    
}

.paymentgateway{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.paymentgateway .imgs{
    
    width: 105px;
    left: 21%;
    position: absolute;
    height: 130px;
    width: 120px;
    z-index: 99999;
}

.paymentgateway .imgs1{
    top: -90px;
    left: 61px; 
}

.paymentgateway .imgs2{
    top: 2px;
    left: 361px; 
}

.paymentgateway .imgs3{
    top: 190px;
    left: 361px; 
}

.paymentgateway .imgs4{
    top: 90px;
    left: 1px; 
}
.boxicon{
    width: 15%;
}

.bttitle{
    text-align: start;
    color: #151515;

font-size: 15px;
font-weight: 600;
line-height: normal;
}

.btbody{
    color: #54535C;
font-size: 14px;
font-style: normal;
font-weight: 400;
text-align: start;
line-height: normal;
}
.boxtext{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.box{
    display: flex;
    gap: 8px;
    border: 1px solid #54535c2d;
    border-radius: 8px;
    background-color: #FFFFFC;
    padding: 20px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}

.box:hover{
    transform: rotateX(10deg) rotateY(10deg);
  }
.links {
    display: flex;
    gap: 28px;
    text-decoration: none;
}
.links a{
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px;
padding: 8px;
border-radius: 4px;
transition: 0.25s ease;
}

.twosides{
width: 100%;
align-items: center;
justify-content: center;
    display: flex;
    gap: 30px;
    height: 100%;
}

.sidea{
    width: 100%;
    display: flex;
 height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.sideb{
    background-image: url('images/Ellipse\ 1961.png');
    background-size: 80%;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
justify-content: center;
}
.login{
    border-radius: 6px;
background: #151515;
padding: 10px;
width: 90px;
text-align: center;
color: black;
transition: 0.5s;
color: white;
border: 1px solid black;
}
.topsection{
    margin-top: 30px;
    color: #151515;
font-size: 26px;
font-style: normal;
font-weight: 800;
line-height: 1.28;
}
.bottomsection{
    color: #54535C;
    font-family:'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
padding-top: 10px;
padding-bottom: 20px;
font-weight: 400;
line-height: normal;
}

.countersection{
    background-color: #F5F5F5;
    padding: 20px;
    margin-bottom: 30px;

}
.section{
    width: 100%;
}

.section .container{
    display: flex;
    gap: 30px;
align-items: center;
justify-content: center;
}
.section{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.listsection{
    display: flex;
    gap: 10px;

    margin-bottom: 10px;
   
}

.number{
    width: 10%;

}
.sidetwo .topsection{
    margin: 0;
}
.number span{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: #000;
}
.datatop{
    color: #081F27;

font-size: 16px;
font-style: normal;
font-weight: 600;
margin-bottom: 2px;
line-height: normal;
}

.listflex{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.topbranding{
    color: #000;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.subbrand{
    color: #54535C;
font-family:'Poppins', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 1.6;
}
.databottom{
    color: #54535C;
    font-family:'Poppins', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sideone{
    width: 100%;

}

.sideone img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 9px;
}
.sidetwo{
    width: 100%;
}
.countersection .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countertext{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.getstarted{
    width: 200px;

}
.login:hover{
    background-color: white;
    color: black;
}
.sideb img{
    margin-top: auto;
    width: 100%;
    height: 90%;
    object-fit: contain;
}


.links a:hover {
    background: #34495e;
    color: white;
}


.herosection{
    height: 100vh;
    /* background-image: url('images/bg_overlay.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
@media screen and (max-width:1200px) {
    .container {
        width: 95%;
    }
 
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .paymentgateway .imgs{
    

        height: 130px;
        width: 120px;
        z-index: 99999;
    }

}








.weblogo{
    width: 60px;
    height: 60px;
    object-fit: contain;
    
}


@media screen and (max-width:1280px) {
    .links{
        display: none;
    }
 
    .container {
        overflow: hidden; /* Prevent overflow */
      }
}

@media screen and (max-width:1100px) {
    .twosides{
        flex-direction: column;
    }
    .herosection {
        height: fit-content;
    } 
    .sideb img {
        margin-top: auto;
        width: 50%;
        height: 70%;
        object-fit: contain;
    }
    .sideb {
        background-image: url(images/Ellipse\ 1961.png);
        background-size: 49%;
    }
    .topsection{
        text-align: center;
        font-size: 22px;
    }
.topsection h1{
    margin-top: 40px;
}
    .bottomsection {
        text-align: center;

    }

    .getstarted {
        width: 200px;
        margin: auto;
    }
}


@media screen and (max-width:1000px) {
    .section .container{
        flex-direction: column;
    }
    .paymentgateway {
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-bottom: 47px;
    }
  
    }

.logincontainer{
    display: flex;
 
align-items: center;
justify-content: center;
  
width: 100%;
    height: 100%;
}
.forgot {
    margin-top: 6px;
    display: flex;
    gap: 6px;
    font-family: inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000b5;
}

.forgot a {
    transition: 0.5s;
 text-decoration: none;
    color: #00000099;
}
.loginbox{
    margin-top: 30px;

    box-shadow: 0 0 4px #e6e6e6;
    padding: 30px;
    background-color: white;
    width: 450px;
    border-radius: 7px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginflex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 18px;
}

.loginflex label {
    
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000cc;
}
.logintitle strong {
    color: #084343;
}

.logintitle{
    font-family: Poppins;
    font-size: 20px;
    margin-bottom: 5px;
    color: #070707;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.loginbox img{
  
      object-fit: contain;
}

.loginpage{
    background-image: url('https://unsplash.com/photos/DI0lpZocxl4/download?ixid=M3wxMjA3fDB8MXxhbGx8MTZ8fHx8fHwyfHwxNjg4OTE3NzI3fA&force=true&w=1920');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px white inset;
}
.loginflex input {
  
    padding: 0.72rem;
    font-size: 15px;
    border-radius: 0.2rem;
    color: #000;
    width: 100%;
    border: 1px solid rgba(36, 36, 36, 0.626);
    transition: all .25s ease 0s;
}

.loginflex select {
  
    padding: 0.72rem;
    font-size: 15px;
    border-radius: 0.2rem;
    color: #000;
    width: 100%;
    border: 1px solid rgba(36, 36, 36, 0.626);
    transition: all .25s ease 0s;
}
.select2-container .select2-selection--single{
    width: 100%;
    border: 1px solid rgba(36, 36, 36, 0.626);
    height: 100% !important;
    padding: 0.57rem;
    font-size: 15px;
    border-radius: 0.2rem;
    color: #000;
    width: 100%;
    border: 1px solid rgb(222, 222, 222) !important;
    height: 100%;
    transition: all .25s ease 0s;  
}
.select2-search--dropdown .select2-search__field{
    padding: 0.57rem;
    font-size: 15px;
    font-family: poppins;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    


}
.loginflex button{
      margin-top: 10px;
    padding: 12px;
    font-size: 15px;
    border-radius: 0.2rem;
    color: #fff;
    width: 100%;
    background-color: #001212;
    border: 1px solid rgba(18, 16, 16, 0.986);
    transition: all .25s ease 0s;
}

.loginflex button:hover{
    background-color: rgba(35, 28, 45, 0.992);
}
input[type=text], [type=email], [type=password], [type=number], [type=tel], [type=date], select {
    background: rgb(255, 255, 255);
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    font-family: inter;
}



.detailpage{
    
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .detailbuttons{
    margin-top: 20px;
    background-color: white;
    padding: 24px;
    width: fit-content;
    box-shadow: 0px 4px 13px 0px #00000008;
    border-radius: 8px;
display: flex;
flex-direction: row;
gap: 30px;
  }
  .termtitle{
    color: var(--onyx);
    font-weight: var(--fw-600);
    margin-bottom: 5px;
    font-size: 18px;
  }

  .detailindetail{
    background-color: white;
    padding: 24px;
    width: 100%;
    box-shadow: 0px 4px 13px 0px #00000008;
    border-radius: 8px;
display: flex;
flex-direction: column;
  }

  .topdetail{
    width: 100%;
    border-bottom: 1px solid #A5ABAD;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
  }
  .bottomdet{
    width: 100%;
  }
  .detailflex{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
.green i {
    color: #155724;
}
  .topdet{
    color: #0C231f;

font-size: 14px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

  }

  .bottomdet{
 margin-top: 1px;
 font-size: 14px;
    line-height: 1.7;
    color: #000000E8;


  }

  .bottomdetail{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
  }
  .downloadreceipt{
    padding: 20px;
    width: 220px;
    background-color: hsla(188, 78%, 41%, 0.12);
    color: hsl(188, 78%, 41%);
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    justify-content: center; 
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }

  .downloadreceipt:hover{
    background-color: #FFE0D3;
    color: #FD7238;
  }

  .transactionreport{
    padding: 20px;
    width: 220px;
    background-color: #d73131;
    color: #e4d3c2;
    border-radius: 7px;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  .transactionreport:hover{
    background-color: #FFE0D3;
    color: #FD7238;
  }
.pendingtalk{
  padding: 20px;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;
  background-color: #fff2c6c0;
}

.pendingtalk i{
  color: darkred;
}
  @media screen and (max-width:600px) {
    .detailbuttons{
      flex-wrap: wrap;
      width: 100%;
    }

    .detailbuttons div{
      width: 100%;
    }
    
  }

  .green i {
    color: #155724;
}

@media screen and (max-width:1100px) {

    .loginpage{
        height: 100vh;
    }
}


    @media screen and (max-width:700px) {
        .section{

         margin-bottom: 90px;
            height: fit-content;
        }

        .loginbox{
            width: 94%;
        }

       
        .loginbox {
            margin-top: 20px;
            box-shadow: 0 0 4px #e6e6e6;
            padding: 20px;
        }

        .logintitle {
            font-family: Poppins;
            font-size: 17px;
            margin-bottom: 8px;
            color: #0c3730;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
        .section .container{
            gap: 60px;
        }

        .topsection {
            text-align: center;
            font-size: 15px;
        }
        .bottomsection {
            color: #54535C;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }

      .paymentgateway  .imgs{
            width: 64px;
            height: 64px;
        }
        .paymentgateway{
            margin-bottom: 80px;
        }
        .topsection{
            margin-top: 10px;
        }
    }


    .alink{
        background: #0e161f;
        color: white !important;  
    }



    #table {
        display: flex;
        flex-direction: column;
       background-color: white;
        margin-bottom: 10px;
        border-radius: 9px;
      }
      
      .row {
        display: flex;
        padding: 16px;
        
        border-bottom: 1px solid rgb(232, 232, 232);
        font-family: inter;
        color: #444;
    font-size: 15px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    transition: 0.4s ease;
cursor: pointer;
      }

      .row:hover{
background-color: #f4f2f2;
      }
.ds .success{
    width: 100%;
    background-color: transparent;
}
      .success{
        color: #155724;
        background: #0080001A;
width: fit-content;
        font-weight: 600;
        font-family: poppins;
        padding: 4px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 13px !important;
        color: #008000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
      }

      .error{

        width: fit-content;
        font-weight: 600;
        font-family: poppins;
        padding: 4px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 13px !important;
      
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        color: crimson;
      
      }

      .pend{
        padding: 4px;
width: fit-content;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 5px;
        background-color:#ffdb7eb6; 
        color: #7b6328;
        font-weight: 500;
        line-height: normal;
      }

      .errors{
        padding: 4px;
        width: fit-content;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        border-radius: 5px;

                font-weight: 500;
                line-height: normal;
        background-color: rgb(235, 200, 200);
        color: rgb(151, 20, 20);
        font-weight: 500;
        font-family: Inter;
      }
      .tabledata{
        display: flex;
        flex-direction: column;
       background-color: white;
       padding: 20px;
       border-radius: 8px;
      }
      .heading {
        font-family: inter;
        color: #444;
    font-size: 15px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
        font-weight: bold;
        
        background-color: #f6f6f6;
        border-radius: 4px;
      }
      
      .cell {
        flex: 1;
        padding: 5px;
        display: flex;
        gap: 3px;
        justify-content: start;
        align-items: center;
      }
      
      .res{
        display: none;
      }
      @media screen and (max-width: 900px) {
        .res{
            display: flex;
            color: #444;
     
          
            font-weight: 600;
      
            letter-spacing: 0em;
            text-align: left;
            padding-block: 0px;
        }
        .ds .success{
            width: fit-content;
        }
        .row{
flex-direction: column;
box-shadow: 0px 3.650273084640503px 14.601092338562012px 0px #0000000D;
border-radius: 8px;
        }
        .heading{
            display: none;
        }
        #table{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: 1fr;
            grid-gap: 10px;
            gap: 10px;
        }
        .cell{
      
          
            justify-content: space-between;
        }
      }

 

      @media screen and (max-width: 600px) {
        .cell {
          font-size: 12px; /* Decrease font size for smaller screens */
          padding: 3px; /* Reduce padding for smaller cells */
        }
        .tabledata {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 7px;
            border-radius: 8px;
        }
        .tabletop{
            flex-direction: column;
        }

        .row {
            display: flex;
            padding: 10px;
        }
        .heading{
            display: none;
        }
      
        .heading .cell {
          font-weight: normal; /* Remove bold font weight for heading cells on smaller screens */
        }
      }

      .navtoggle{
        display: none;
        padding: 9px;
        background-color: white;
        color: white;
        justify-content: center;
        align-items: center;
    }
    
#navlinkovalay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.768);
    backdrop-filter: blur(3px);
    z-index: 999999999999999;
}

.navlinkactive{
    position: absolute;
    display: flex !important;
    flex-direction: column;
    top: 79px;
    border-radius: 9px;
    gap: 10px;

    right: 10px;
    background: var(--header-bg-color);
    color: var(--subtitle-color);
    width: 240px;
    text-align: center;
z-index: 999999999999999999999999999;
background-color: white;
    padding: 21px;
    box-shadow: 0 1px 0.625rem 0 hsla(210, 7%, 22%, .06), 0 0.125rem 0.25rem 0 hsla(210, 7%, 22%, .08);

}

#navbar{
    z-index: 9999999999999999999999999999999999999999999999999999999999999;
}
.hideme{
    display: none;
}
      @media screen and (max-width:1000px) {

        .atmimg{
    width: 90%
        }
        .navlinkactiveovalay{
  
            display: flex !important;
            }

            .alink{
                background-color: transparent;
                border: 1px solid #070707;
                color: black !important;
            }
            .hideme{
                display: flex;
            }
    
        .getstarteds{
            display: none;
        }
    
        .navtoggle{
            display: flex;
            background-color: #0C231f;
            border-radius: 3px;
            font-size: 15px;
            border: 1px solid #0C231f;
    
        }

    }
    .hideme{
        width: 100%;
     
        align-items: center;
        justify-content: center;
    }

    .blackboton{
        cursor: pointer;
        margin-top: 10px;
        width: 100%;
        background-color: #0F0F11;
        padding: 14px;
        border-radius: 5px;
        color: white !important;
        border: none;
        transition: 0.6s;
        cursor: pointer;
     }

     .about .topsection{
        text-align: center;
        background-image: url('https://images.unsplash.com/photo-1689005047267-b9bf392f0bb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
margin-top: 10px;
     }

     .abts{
        /* background-image: url('https://images.unsplash.com/photo-1689028293838-a6a66b0ae2c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80'); */
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
     }

     .about .bottomsection{
        text-align: center;
     }

     .about .getstarted{
        margin-left: auto;
        margin-right: auto;
     }

    
     .about .getstarted {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }


    .currencysubmit button {
        cursor: pointer;
        margin-top: 10px;
        width: 100%;
        background-color: #0F0F11;
        padding: 14px;
        border-radius: 5px;
        color: white;
        border: none;
        transition: 0.6s;
        cursor: pointer;
        font-family: 'Poppins';
    }

    .custom-checkbox-label {
        display: inline-block;
        position: relative;
        padding-left: 25px; /* Adjust the spacing as needed */
        cursor: pointer;
        user-select: none; /* Disable text selection */
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
      
      .amt{
        display: flex;
        gap: 5px;
      }
      .custom-checkbox-label:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 20px; /* Adjust the size as needed */
        height: 20px; /* Adjust the size as needed */
        border: 2px solid #999999; /* Adjust the border color as needed */
        border-radius: 4px; /* Adjust the border radius as needed */
      }
      

      label{
        user-select: none;
      }
      .custom-checkbox:checked + .custom-checkbox-label:before {
        background-color: #999999; /* Adjust the background color as needed */
      }
      
      .custom-checkbox-label:after {
        content: "";
        display: none;
        position: absolute;
        left: 7px; /* Adjust the position as needed */
        top: 3px; /* Adjust the position as needed */
        width: 5px; /* Adjust the size as needed */
        height: 10px; /* Adjust the size as needed */
        border: solid #ffffff; /* Adjust the color as needed */
        border-width: 0 2px 2px 0; /* Adjust the border width as needed */
        transform: rotate(45deg);
      }
      
      .custom-checkbox:checked + .custom-checkbox-label:after {
        display: block;
      }
      