@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
    background: #f5f5f5;

}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }

  .none{
    display: none;
  }
  nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
  }
  .logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
  }
  .logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
  }
  nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  nav.open .sidebar {
    left: 0;
  }
  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  .sidebar-content .list {
    list-style: none;
  }
  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  .lists .nav-link:hover {
    background-color: #4070f4;
  }
  .nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
  }
  .nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
  }
  .lists .nav-link:hover .icon,
  .lists .nav-link:hover .link {
    color: #fff;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }

  .maincontent{
    width: 100%;
    display: flex;
width: 1200px;
margin: auto;
  }


  .sidebar{
    width: 20%;
    background-color: #fff;
    height: 100%;
    padding: 10px;
  }

  .dashboarddata{

  margin-top: 20px;
    width: 100%;
    padding: 10px;
  }
.dashboardcontent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.cardsections{
    padding: 20px;
    width: 100%;


}

.downarrow span{
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  user-select: none;
}

.balancecard{
    display: flex;
    width: 100%;
    gap: 20px;
}

.flagname{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
}
.usd , .crypto{
    width: 100%;
    height: fit-content;
    padding: 38px;
    border-radius: 9px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.topcard{
    display: flex;
    justify-content: space-between;
align-items: center;
}

.bottomcard{
    font-size: 32px;
    font-style: normal;
    display: flex;
    gap: 4px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.content{
    font-family: INTER;
}
.usd{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1688141585058-50787735e064?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1688494963827-9f9dc1c51bd0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-position: right;

}
.quicklink{
    margin-top: 16px;
    font-size: 17px;
    font-weight: 600;
}
.atmcard{
    width: 60%;
    padding: 20px;
   
}


.atmbox{
    background-color: purple;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1688494930420-694c13332f83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 38px;
    border-radius: 9px;
}
.crypto{
    background-image: url('https://img.freepik.com/free-vector/green-abstract-halftone-background_1409-898.jpg?w=826&t=st=1688927752~exp=1688928352~hmac=3de698793dc65f6dd917aee6ec062f49043ec55fe0048e1030eb529d8420f3c9');
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1688141585146-1fb4a1358c87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1688494963827-9f9dc1c51bd0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
}
.cardblock{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blockone {
    overflow: hidden;
}

.maincontent{
    overflow: hidden;
}
.transferblock{
    display: flex;
    gap: 20px;
}
.blockone{
    width: 100%;
  
    padding: 10px;
}
.send{
    width: 100%;
    padding: 12px;
  
    color: rgb(21, 87, 36);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background-color: white;
    border: 1px solid #fff;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 3.650273084640503px 14.601092338562012px 0px #0000000D;
}

.sidebarlinks a{
    display: flex;
    gap: 15px;
    text-decoration: none;

    font-size: 18px;
    text-transform: capitalize;
    color: #222222;
    padding: 17px;
    transition: all 0.5s ease;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}
.sidebarlinks .active{
    background-color: #4070f4;
    border-radius: 9px;
    color: #fff;

}

.send:hover{
    cursor: pointer;
    border: 1px solid #000;
}
.recieve{
    width: 100%;
    
    padding: 12px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background-color: white;
    border: 1px solid #fff;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 3.650273084640503px 14.601092338562012px 0px #0000000D;

}

.recieve:hover{
    cursor: pointer;
    border: 1px solid #000;
}
.blocktwo{
    width: 60%;
    
    height: 100%;
   
}
.search input{
    border: 1px solid #ccc;
    outline: none;
    padding: 6px;
}

.column{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 9px;
    padding: 10px;
    margin-top: 10px;
}

.columnbody{
    display: flex;
    gap: 10px;
    border-radius: 7px;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 10px;
    transition: o.24 ease;
}



.columnbody:hover{
    background-color: rgb(218, 218, 218);
}

.iconval{
    width: 10%;
    padding: 7px;
 
}
.transtype{
    width: 100%;

    padding: 7px;
}

.transamount{
    width: 30%;
  
    padding: 7px;

}
.names{
    color: #444;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
    padding-block: 6px;
    width: 100%;
}

.nms{
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 0px;
    width: 100%; 
}

.transamount{
    font-size: 14px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.transstatus{
    
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(0, 0, 0, 0.76);
    
}

.column{
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.atmtop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.accountmiddle{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 6px;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.atmbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.name{
    color: #444;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 6px;
}

.tt{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 2px;
}

.bt{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 3px;
}
.master{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.master img{
    width: 100%;
}

.three{
    display: flex;
    width: 100%;
    margin-top: 8px;
    justify-content: space-between;
}
.balancecard .name{
    width: 100%;
    font-size: 15px;
}
.profilehead{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: black;
}

.profilehead img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.flag{
gap: 10px;   
    justify-content: center;
    display: flex;
}
.flag img{
    height: 15px;
}
.pad{
    padding-left: 20px;
    padding-right: 20px;
}
.topspot{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;

}
  .sidebardata{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .sidebarlinks  {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
.icv{
    padding: 13px;
    border-radius: 50%;
    background-color: #d73131;
    color: #e4d3c2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green{
    background-color: #c3e6cb;
    color: #155724;
}

.yellow{
    background-color: #2f39f1c0;
}

  @media screen and (max-width:1280px) {
 .maincontent{
    width: 100%;
 }   
  }

  .profiletip{
    margin-top: 3px;
    width: 100%;

    gap: 10px;
    border-radius: 9px;
    padding: 20px;
    background-color: white;
    width: 97%;
    margin: auto;
    box-shadow: 0px 3.650273084640503px 14.601092338562012px 0px #0000000D;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    gap: 10px;

  }

  .tabletop{
    display: flex;
    justify-content: space-between;
  }
.tabletop div{
  display: flex;
  gap: 6px;
}
  .tabletop input {
  font-family: inter;
    padding: 0.52rem;
    font-size: 14px;
    border-radius: 0.2rem;
    color: #222222;
    width: 100%;
    border: 1px solid rgba(114, 114, 114, 0.626);
    transition: all .25s ease 0s;
}


  .ppic {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .trend {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .trends {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d73131;
    color: #e4d3c2;
  }

  .inflow .flowmain{
    font-family: Poppins;
    font-weight: 600;
 color: #155724;
    letter-spacing: 0px;
    text-align: left;
  }

  .outflow .flowmain{
    font-family: Poppins;
    font-weight: 600;
  color: #d73131;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .ppic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flowsub{
    color: #a1a1a1;
    font-weight: 300;
  }

.timestamps{

}
.stamptop{
    border: 1px solid #ccc;
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
}
  .stamptop div{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #155724;
  }

  .stamptop{
    width: fit-content;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 2px;

  }
.backticks{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
  .datetime{
    font-size: 15px;
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-family: poppins;
    line-height: 16px;
    letter-spacing: 0em;
  }
.profileheading, .inflow, .outflow, .timestamp{
    width: 100%;
    padding: 9px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid rgb(232, 232, 232);
}

.profilename{
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 16, 16);
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 3px;
    width: 100%;
}

.profileemail{
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 3px;
    width: 100%;
}
.converter{
    padding: 20px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
  }
  .currencyfield {
    width: 100%;
    display: flex;
    background: #e6e6e6;
    padding: 11px;
    border-radius: 9px;
}
  #exchange{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
  }
  
  #exchange span{
    color: green;
    cursor: pointer;
    padding: 24px;
    border-radius: 50%;
    width: 50px;
    background-color: #F5F2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: 0.6s;
    cursor: pointer;
  
  }
  
  #exchange span:hover{
    background-color: #d6cfeb;
  }
  
  #rate{
    font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.003em;
  text-align: left;
  color: #9155A8;
  margin-top: 10px;
  margin-top: 10px;
  }
  .currencysubmit{
    width: 100%;
  }
  
  .currencysubmit button{
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    background-color: #0F0F11;
    padding: 14px;
    border-radius:5px;
    color: white;
    border: none;
    transition: 0.6s;
  cursor: pointer;
  }
  
  
  
  
  
  .currencysubmit button:hover{
  background-color: 
  #0958ab;
  
  
   }
  .currencyfield select{
    background: #f5f5f5;
    width: fit-content;
    margin-left: auto;
    font-family: poppins;
    border-radius: 7px;
    padding: 6px;
    border: none;
  
  }
  
  .currencyfield input{
    background: transparent;
    width: 100%;
    font-family: poppins;
    margin-left: auto;
    border-radius: 7px;
    padding: 6px;
    border: none !important;
    margin-bottom: 0;
  
  }
  
  .currencyfield input:focus{
    background: transparent;
    outline: transparent;
    width: 100%;
    margin-left: auto;
    border-radius: 7px;
    padding: 6px;
    border: none !important;
  
  }
  
  .currencyfield select:focus{
    outline: transparent;
    background: #F2E3F7;
    width: fit-content;
    margin-left: auto;
    border-radius: 7px;
    padding: 6px;
    border: none;
  
  }
  
  
  ::-webkit-input-placeholder { color: 
    #0F0F11;
  } 
  :-moz-placeholder { color:#0F0F11; }
  ::-moz-placeholder { color: #0F0F11; }
  :-ms-input-placeholder { color: #0F0F11; }
  
  
  .recenttext{
    width: 100%;
    font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0F0F11;
  }
  
  .currencyconvert{
    text-align: center;
  }

  @media screen and (max-width:1000px) {
    .maincontent{
       width: 100%;
    }  
    .blocktwo{
      width: 100%;
      
      height: 100%;
     
  }

  .converter {
    width: 100%;
  padding: 15px;
  }

    
.atmbox{
    background-color: purple;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1688494930420-694c13332f83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 9px;
}


    .cardblock {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .atmcard{
        width: 100%;
    } 
    .transferblock{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;  
    }
     }


     @media screen and (max-width:700px) {
        .balancecard{
            flex-direction: column;
        }
        .dashboardcontent{
            padding: 0;
        }

        .profiletip {
          margin-top: 3px;
          width: 100%;
          gap: 10px;
          border-radius: 9px;
          padding: 11px;
      }

      .profiletip {
          margin-top: 3px;
          width: 100%;
          gap: 10px;
          border-radius: 9px;
          padding: 10px;
      }
        .iconval {
            width: 18%;
            padding: 7px;
        }
        .cardsections{
            padding: 4px;
        }
        .atmcard{
            padding: 4px;
        }
        .blockone {
            width: 100%;
            padding: 0px;
        }
        
        
     }


     @media screen and (max-width:1200px) {

      .loginpage{
          height: 100vh;
      }
      .profileheading, .inflow, .outflow, .timestamp
      {
        border-radius: 5px;
        border: 1px solid rgb(232, 232, 232);
      }
  }